<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>se.soroush.pinger</string>

  <key>ProgramArguments</key>
  <array>
    <string>/Users/soroush/dotfiles/scripts/pinger.sh</string>
  </array>

  <key>Nice</key>
  <integer>1</integer>

  <!-- It will be runned every 15 min (60sec*15) -->
  <key>StartInterval</key>
  <integer>900</integer>

  <key>RunAtLoad</key>
  <true/>

  <key>StandardErrorPath</key>
  <string>/tmp/pinger.err</string>

  <key>StandardOutPath</key>
  <string>/tmp/pinger.out</string>
</dict>
</plist>