<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>se.soroush.mackupcron</string>

  <key>ProgramArguments</key>
  <array>
    <string>/Users/soroush/dotfiles/scripts/mackupcron.sh</string>
  </array>

  <key>Nice</key>
  <integer>1</integer>

  <!-- It will be runned every day at 09:30 -->
  <key>StartCalendarInterval</key>
  <dict>
    <key>Hour</key>
    <integer>9</integer>
    <key>Minute</key>
    <integer>30</integer>
  </dict>

  <key>RunAtLoad</key>
  <true/>

  <key>StandardErrorPath</key>
  <string>/tmp/mackupcron.err</string>

  <key>StandardOutPath</key>
  <string>/tmp/mackupcron.out</string>
</dict>
</plist>